[build]
  command = "npm install && npm install --prefix frontend && npm run build --prefix frontend"
  publish = "frontend/dist"
  functions = "netlify/functions"

[functions]
  external_node_modules = ["express", "mongoose", "bcryptjs", "cloudinary", "cookie-parser", "jsonwebtoken", "uuid"]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
